#vergina
{
    margin-top: 0cm;
    text-align: center;
    color: black;
    font-size: 60px;
    text-shadow: 0px 0px 30px grey;
    font-family: Palatino;
    color: #888888;
}

#bodystyle
{
	background-color: lightgreen;
}